// HEADER
.header {
    margin-top: 25px;
    .desktop-nav {
        font-size: 1.2em;
        
        a {
            text-transform: uppercase;
            margin-left: 30px;
            transition: 0.2s ease;
        }
        a:hover {
            cursor: pointer;
            padding-bottom: 2px;
            border-bottom: black 2px solid;
            transition: 0.2s ease;
        }
    }
    .signout {
        border: black 1px solid;
        padding: 5px;
        transition: 0.2s ease;
        font-size: 0.8em;
        
        &:hover {
            background-color: black;
            color: white;
            font-weight: bold;
        }
    }
    .about {
        color: black;
    }
    .registration {
        color: white;
        text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px,
            rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, 
            rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px,
            rgb(0, 0, 0) 0.96017px -0.279415px 0px;      
    }
}
.home-title {
    color: #fff;
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px,
                rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, 
                rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px,
                rgb(0, 0, 0) 0.96017px -0.279415px 0px;
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 2em;
    transition: 0.4s ease;

    &:hover {
        text-shadow: rgb(0, 0, 0) -2px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px,
        rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, 
        rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px,
        rgb(0, 0, 0) 0.96017px -0.279415px 0px;
        letter-spacing: 7px;
        margin-left: 5px;
    }
}

// HOMEPAGE
.home {
    height: 100vh;
   // border: black 1px solid;
    .illustration  {
        opacity: 0.6;
        margin-top: 80px;
        img {
            width: 700px;
        }
        .spark1 {
            position: absolute;
            z-index: -1;
        }
        .spark2 {
            position: absolute;
            z-index: -1;
        }
    }
    .content {
        top: 35vh;
        h1 {
            font-size: 8em;
            font-weight: 400;
        }
        h3 {
            font-size: 3em;;
            font-weight: 400;
        }
        a {
            margin-top: 30px;
            background-color: transparent;
            border: black 5px solid;
            font-size: 1.5em;
            color: black;
            display: inline-block;
            width: 300px;
            padding: 25px 0;
            text-align: center;
            transition: 0.5s ease;

            &:hover {
                color: white;
                background-color: black;
                animation: fire infinite 2s ease;
                box-shadow: black 2px 2px 5px;
            }
        }
    }
}
@keyframes fire {

}

// PROFILE

.profile {
    img {
        max-width: 200px;
        max-height: 200px;
    }
    .profilecontent {
        border: black 1px solid;
    }
    .socials {
        a {
            margin: auto;
        }
        .soundcloud {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background-color: orange;
        }
        .spotify {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background-color: green;
        }
        .facebook {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background-color: blueviolet;
        }
        .instagram {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background-color: plum;
        }
    }
}

// FRIENDS

.friends {
    width: 100%;
    height: 100%;
    border: black 1px solid;
    .friendsearch {
        width: 100%;
        height: 30px;
    }
    .friendlist {
        background-color: plum;
        width: 100%;
    }
}

// EDIT



