@media (max-width: $lg) {
    .desktop-nav {
        display: none;
    }
}

@media (min-width: $lg) {
    .mobile-nav {
        display: none;
    }
    .burger-button {
        display: none;
    }
}

@media (min-width: $lg) {
    .desktop-nav {
        font-size: 1em;
        
        a {
            margin-left: 15px;
        }
    }
}