// FRIENDS

// .friends {
//     width: 100%;
//     height: 100%;
//     border: black 1px solid;
//     
//     .friendlist {
//         background-color: plum;
//         width: 100%;
//     }
// }

// .friends {
//     // border: black 1px solid;
//     margin: auto;
//     border-radius: 10%;
//     box-shadow: rgb(201, 195, 195) 1px 1px 10px;
//     max-width: 350px;
//     min-width: 300px;
//     width: 100%;
//     min-height: 350px;
//     padding: 0 15px;

//     .friendsearch {
//         width: 100%;
//         //height: 30px;
//     }
//     .friendlist {
//         width: 100%;
//     }

//     .match {
//         padding-top: 5px;
//         width: 100%;
        
//         a {
//             width: 100%;
//         }

//         &:nth-child(2n+2) {
//             background-color: blanchedalmond;
//         }
//     }
    
//     h2, a, .friendsearch {
//         padding: 10px;
//         line-height: 150%;
//     }
// }

.friends {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 15px;
}

.matches, .friendlist {
    max-height: 300px;
    width: 100%;
    overflow-x: hidden; 
    overflow-y: auto; 
    text-align:justify; 

    p, a {
        margin-bottom: 5px;
    }
}

.match {
    font-size: 1.2em;
    padding: 5px;
}

// .hasNotifications {
//     animation: pulse 2s ease-in-out infinite;
// }

.friendsearch {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    font-size: 1em;
}

.scroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}
.scroll::-webkit-scrollbar-thumb
{
    background-color: #000000;
    border: 2px solid #555555;
}

@keyframes pulse {
    0% {
        color: red;
    }
    50% {
        color: blueviolet;
    }
    100% {
        color: red;
    }
}