// HEADER
.header-wrapper {
    padding-top: 30px;
    position: absolute;
    z-index: 1000;
}

.header {
    //border: black 5px solid;
    // margin-top: 45px;
    
    // margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    width: 100%;

    .signout {
        transition: 0.2s ease;
        padding: 3px;
        
        
        &:hover {
            background-color: $gray;
            color: white;
        }
    }
    .about {
        color: $gray;
    }
    .registration {
        color: white;
        text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px,
            rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, 
            rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px,
            rgb(0, 0, 0) 0.96017px -0.279415px 0px;      
    }
    .usericon {
        fill: $gray;
        width: 50px;

        &:hover {
            fill: $pink;
            border: none;
        }
    }

}

.logo {
    width: 60px;
    height: 60px;
    margin-left: 0;
}

.desktop-nav {
    a {
        font-size: 1.2em;
        text-transform: uppercase;
        transition: 0.2s ease;
    }
    a:last-child {
        margin-right: 75px;
    }
    a:hover {
        cursor: pointer;
        padding-bottom: 2px;
        border-bottom: $gray 2px solid;
        transition: 0.2s ease;
    }

    .nav {
        margin-left: 50px;
    }
}

@media (max-width: $lg) {
    .header {
        padding-top: 0;
    }
    .left a {
        margin-left: 0;
    }
    .logo {
        display: inline;
    }
    .text {
        display: none;
    }
    
}

@media (max-width: $sm) {
    .header-wrapper {
        margin-top: 0;
        
    }
}


@media (min-width: $lg) {
    .left a {
        margin-left: 75px;
    }
    .logo {
        display: none;
    }
    .text {
        display: inline;
    }
}