.home {
    margin: 0;
    padding: 0;
    height: 100vh;
    

    section {
            position: relative;
            //background: url(../images/bg.jpg);
            background: linear-gradient(90deg, whitesmoke, gray), url(../../assets/images/artist.jpg);
            background-size: cover;
            background-position: center;
            background-blend-mode: screen;
            height: 100%;
    }

    .content {
        position: relative;
        width: 100%;
        z-index: 1;
        margin: auto;

    div {
        padding: 0;
    }
}



    .home-text {
        margin-top: 40vh;
        color: black;

        .typing {
            color: $pink;
        }
    }
    
}

.wave {
    position: absolute;
    background-position: cover;
    top: 0;
    left: 0;
}

.wave2 {
    position: absolute;
    background-position: cover;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.cta {
    margin-top: 50px;
    padding: 40px 120px;
    background-color: $pink;

    font-size: 2em;
    color: white;
    font-weight: bold;

    box-shadow: 1px 1px 10px rgb(173, 173, 173);

    transition: ease-in-out 0.1s;
    
    &:hover {
        transform: scale(1.01);
        box-shadow: 1px 1px 15px rgb(134, 134, 134);
    }
}

@media (max-width: $sm) {
    .home {
        .cta {
            padding: 20px 60px;
            font-size: 1.5em;
            
            margin-top: 60px;
        }
    }
}

