.vueAudioBetter {
    background-image: none !important;
    // background-color: red !important;
    margin: auto !important;
    width: 80% !important;
    height: 150px !important;
    background-image: url(../../assets/images/backgroundplayer.png) !important;
    background-position: center !important;
    background-size: cover !important;
    box-shadow: none !important;

    .icon-notificationfill {
        display: none !important;
    }

    span {
        font-size: 1em !important;
        margin-left: 15px;
    }

    .slider {
        margin: auto !important;
    }

    .operate {
        // width: 50%;
        height: 40px;
        font-size: 3em !important;

    }

    .progressInfo, .process {
        color: black !important;
        background: $gray !important;
    }
    .block {
        border: $gray 1px solid !important;
    }
}

@media (max-width: $sm) {

    .vueAudioBetter {
        width: 100% !important;
        height: 100px !important;


        span {
            font-size: 0.5em !important;
            margin: 0;
            width: 50% !important;
        }
        .iconfont {
            margin: auto;
        }
    }
    .slider {
        display: none !important;
    }


}