//
//    MAIN SASS FILE
//
//    Import other Sass files here
@import 'variables.scss'; // variables first ;-)
@import 'helpers.scss';
@import 'animations.scss';
@import 'reset.css';
@import './brand/text.scss';
@import './brand/extras.scss';
@import './brand/components.scss';
@import './brand/mobile.scss';
@import './brand/layout.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap-grid.scss';
//
//    Import Fonts here
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
//
//    Header & Footer stuff... pretty important...
.wrapper {
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.top-wrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    overflow: hidden;
}

//    Code goes here

body {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 5em;
    font-weight: bold;
}

h2 {
    font-size: 2em;
    font-weight: bold;

    
}

h3 {
    font-size: 1.5em;
    font-weight: bold;
}

h4 {
    font-size: 1.25em;
    font-weight: bold;
}

p {
    font-size: 1em;
    line-height: 150%;
}

p strong {
    font-weight: bold;
}

a {
    text-decoration: none;
}

.progressbar {
    margin: auto;
    position: relative;
    width: 98%;
    height: 5px;
    background-color: #ddd;
    border-radius: 20%;
  }
  
  .status {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #88ebc4;
  }

  #burger{
    position: absolute;
    right: 0;
    top: 0;
    color: $gray;
    background-color: white;
    font-size: 2em;
    padding: 30px 15px 30px 30px;
    border-radius: 0% 0% 0% 80%;
    transition: 1s;
    cursor: pointer;
  }
  
  #quit{
    position: fixed;
    top: 0;
    color: $gray;
    font-size: 2em;
    padding: 30px 15px 25px 15px;
    display: none;
    cursor: pointer;
  }

  #links{
    position: fixed;
    display: none;
    flex-direction: column;
    width: 100vw;
    height: 50vh;
    margin-top: 5vh;
    padding: 40vh 0;
    justify-content: space-around;
    transition: ease-in-out 2s;
    overflow: hidden;
  }

  #links div {
      margin-bottom: 30px;

      &:last-child {
          margin-top: 15px;
          font-size: 0.7em !important;
      }
  }
  
  #links a{
    margin-bottom: 15px;
    text-align: center;
    text-decoration: none;
    color: $gray;
    font-size: 2em;
    z-index: 10;
  }

  .privacy-wrapper {
      .privacy {
        padding-top: 20vh;
        padding-bottom: 15vh;
      }

      h1 {
          margin-bottom: 30px;
      }
      p {
          margin: 30px;
          line-height: 150%;
      }

  }


@media (min-width: $lg) {
    #burger{
        display: none;
    }
      
    #quit{
        display: none;
    }
    
    #links{
        display: none;
    }
}

@media (max-width: $lg) {
    h1 {
        font-size: 2.5em;
        font-weight: bold;
        line-height: 120%;
    }
    
    h2 {
        font-size: 2em;
        font-weight: bold;
    
        
    }
    
    h3 {
        font-size: 1.5em;
        font-weight: bold;
    }
    
    h4 {
        font-size: 1.25em;
        font-weight: bold;
    }
    
    p {
        font-size: 1em;
        line-height: 150%;
    }
    
    p strong {
        font-weight: bold;
    }
    
    a {
        text-decoration: none;
    }
    
}